.toolbar {
  padding: 8px 16px;
  display: flex;
}
.toolbar-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  .toolbar-item {
    display: inline-block;
    margin: 0 8px 0 0;
  }
}


.toolbar-action {
  margin-left: auto;
  display: flex;
  .toolbar-button {
    cursor: pointer;
    width: 90px;
    &.preview {
      width: 110px;
      background: blue;
      color: white;
      margin-left: 16px;
    }
  }
}
